<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Property</title>
    <link th:href="@{/css/newProperty.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
    <aside class="sidebar">
        <h2 class="logo">User Dashboard</h2>
        <nav>
            <ul>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/orders">Orders</a></li>
                <li><a href="/reports" sec:authorize="hasRole('OWNER')">Reports</a></li>
                <li><a href="/marketplace">Marketplace</a></li>
                <li><a href="/newProperty" sec:authorize="hasRole('OWNER')" class="active">New Property</a></li>
                <li><a href="/properties" sec:authorize="hasRole('OWNER')">My properties</a></li>
                <li><a href="/setting">Settings</a></li>
                <li><a href="/helpCenter">Help Center</a></li>
            </ul>
        </nav>
    </aside>
    <main class="main-content">
        <section class="settings-section">
            <h2>Post a new property</h2>
            <form class="settings-form" th:action="@{/newProperty}" th:object="${newProperty}" method="post">
                <div class="form-group">
                    <label for="name">Name </label>
                    <input type="text" id="name" name="name" placeholder="Name" th:field="*{name}" required>
                </div>
                <div class="form-group">
                    <label for="street-address">Street Address</label>
                    <input type="text" id="street-address" name="street-address" placeholder="123 Example Street" th:field="*{address}" required>
                </div>
                <div class="form-group">
                    <select name="city" id="city" th:field="*{city}" required>
                        <option value="Casablanca">Casablanca</option>
                        <option value="Rabat">Rabat</option>
                        <option value="Tanger">Tanger</option>
                        <option value="Marrakeck">Marrakeck</option>
                        <option value="Fes">Fes</option>
                        <option value="Maknes">Maknes</option>
                        <option value="alHoceima">alHoceima</option>
                        <option value="Tetouan">Tetouan</option>
                        <option value="Agadir">Agadir</option>
                    </select>
                </div>
                <div class="form-group">
                    <select name="category" id="category" th:field="*{category}" required>
                        <option value="Apartment">Appartement</option>
                        <option value="House">House</option>
                        <option value="Garage">Garage</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="zip-code">Zip Code</label>
                    <input type="text" id="zip-code" name="zip-code" placeholder="94103" th:field="*{zipCode}" required>
                </div>
                <div class="form-group">
                    <label for="price-per-night">Price per night</label>
                    <input type="number" id="price-per-night" name="price-per-night" placeholder="$0" th:field="*{price}" required>
                </div>
                <!--<div class="form-group">
                    <label for="photos">Photos</label>
                    <input type="file" id="photos" name="photos" th:field="*{file}" enctype="multipart/form-data" required>
                </div> -->
                <div class="form-group">
                    <label for="description">Description</label>
                    <textarea id="description" name="description" placeholder="Tell guests about your space and what makes it unique." th:field="*{description}"></textarea>
                </div>
                <div class="form-actions">
                    <button type="button" class="cancel-button">Cancel</button>
                    <button type="submit" class="save-button">Save</button>
                </div>
            </form>
        </section>
    </main>
</div>

</body>
</html>
