<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link th:href="@{/css/orders.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
    <aside class="sidebar">
        <h2 class="logo">User Dashboard</h2>
        <nav>
            <ul>
                <li><a href="/profile" sec:authorize="hasRole('OWNER') or hasRole('USER')">Profile</a></li>
                <li><a href="/orders" class="active" sec:authorize="hasRole('OWNER') or hasRole('USER')">Orders</a></li>
                <li><a href="/reports" sec:authorize="hasRole('OWNER')">Reports</a></li>
                <li><a href="/marketplace" sec:authorize="hasRole('OWNER') or hasRole('USER')">Marketplace</a></li>
                <li><a href="/newProperty" sec:authorize="hasRole('OWNER')">New Property</a></li>
                <li><a href="/properties" sec:authorize="hasRole('OWNER')">My properties</a></li>
                <li><a href="/setting" sec:authorize="hasRole('OWNER') or hasRole('USER')">Settings</a></li>
                <li><a href="/helpCenter" sec:authorize="hasRole('OWNER') or hasRole('USER')">Help Center</a></li>
                <li><a href="/notification" class="active" sec:authorize="hasRole('ADMIN')">Notification</a></li>
            </ul>
        </nav>
    </aside>
    <main class="main-content">
        <section class="orders-section">
            <h2>Notification</h2>
            <div class="order-list" th:each="notification: ${notifications}">
                <div class="order-item">
                    <h3 th:text="${{notification.getEmail()}}"></h3>
                    <p th:text="${{notification.getMessage()}}"></p>
                    <p th:text="${{notification.getDate()}}"></p>
                    <button class="btn view-order">View Order</button>
                </div>
            </div>
        </section>
    </main>
</div>
</body>
</html>
