<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orders</title>
    <link th:href="@{/css/orders.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="container">
    <aside class="sidebar">
        <h2 class="logo">User Dashboard</h2>
        <nav>
            <ul>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/orders" class="active">Orders</a></li>
                <li><a href="/reports" sec:authorize="hasRole('OWNER')">Reports</a></li>
                <li><a href="/marketplace">Marketplace</a></li>
                <li><a href="/newProperty" sec:authorize="hasRole('OWNER')">New Property</a></li>
                <li><a href="/properties" sec:authorize="hasRole('OWNER')">My properties</a></li>
                <li><a href="/setting">Settings</a></li>
                <li><a href="/helpCenter">Help Center</a></li>
            </ul>
        </nav>
    </aside>
    <main class="main-content">
        <section class="orders-section">
            <h2>Orders</h2>
            <div class="order-list" th:each="userOrder: ${orders}">
                <div class="order-item">
                    <h3 th:text="${{userOrder.getProperty().getName()}}"></h3>
                    <p th:text="${{userOrder.getOrderDate()}}"></p>
                    <p th:text="${{userOrder.getUser().getEmail()}}"></p>
                    <p th:text="${{userOrder.getProperty().getPrice()}}"></p>
                    <button class="btn view-order">View Order</button>
                </div>
            </div>
        </section>
    </main>
</div>
</body>
</html>
