<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link th:href="@{/css/profile.css}" rel="stylesheet" type="text/css"/>
    <style>
        #user-info-container {
            display: none;
        }
    </style>
</head>
<body>
<div class="container">
    <aside class="sidebar">
        <h2 class="logo">User Dashboard</h2>
        <nav>
            <ul>
                <li><a href="/profile" class="active" sec:authorize="hasRole('OWNER') or hasRole('USER')">Profile</a></li>
                <li><a href="/orders" sec:authorize="hasRole('OWNER') or hasRole('USER')">Orders</a></li>
                <li><a href="/reports" sec:authorize="hasRole('OWNER')">Reports</a></li>
                <li><a href="/marketplace" sec:authorize="hasRole('OWNER') or hasRole('USER')">Marketplace</a></li>
                <li><a href="/newProperty" sec:authorize="hasRole('OWNER')">New Property</a></li>
                <li><a href="/properties" sec:authorize="hasRole('OWNER')">My properties</a></li>
                <li><a href="/setting" sec:authorize="hasRole('OWNER') or hasRole('USER')">Settings</a></li>
                <li><a href="/helpCenter" sec:authorize="hasRole('OWNER') or hasRole('USER')">Help Center</a></li>
                <li><a href="/notification" sec:authorize="hasRole('ADMIN')">Notification</a></li>
            </ul>
        </nav>
    </aside>
    <main class="main-content">
        <div class="profile-header">
            <div class="user-info">
                <img class="profile-pic-large" th:src="@{/images/Photofin_edited.jpg}" alt="Profile Picture">
                <div class="user-details">
                    <h1 th:text="${username}"></h1>
                    <p th:text="${email}"></p>
                </div>
            </div>
            <div class="action-buttons">
                <a href="/setting"><button class="edit-button">Edit Profile</button></a>
            </div>
        </div>
        <section class="profile-details">
            <h2>Contact Information</h2>
            <p><strong>FirstName:</strong> <span th:text="${firstName}"></span></p>
            <p><strong>LastName:</strong> <span th:text="${lastName}"></span></p>
            <p><strong>Joined:</strong> <span th:text="${createdAt}"></span></p>
            <p><strong>Email:</strong> <span th:text="${email}"></span></p>
        </section>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="logout-button">Logout</button>
        </form>
    </main>
</div>
</body>
</html>
